.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
  }
  .pickup{
    display: block;
    padding-left: 24px;
    padding-right: 90px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgba(206, 201, 201, 0.445);
    border: none;
    text-align: start;
    font-size: 12px;
  }
  .destination{
    display: block;
    display: block;
    padding-left: 24px;
    padding-right: 90px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgba(206, 201, 201, 0.445);
    border: none;
    text-align: start;
    font-size: 12px;
    margin-top: 5px;
  }
  .reqeust-button{
   border: none;
   background-color: black;
   color: white;
   padding-left: 16px;
   padding-right: 16px;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-right: 5px;
   font-size: 12px;
   cursor: pointer;
  }
  .schedule-button{
    border: none;
    background-color: rgba(206, 201, 201, 0.445);
    color: black;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    font-size: 12px;
    cursor: pointer;
  }